<!-- start custom head snippets -->
<script data-ad-client="ca-pub-1062354635250377" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- refer back -> https://devinlife.com/howto%20github%20pages/adsense/ -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/pawnj_favicon_io/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/pawnj_favicon_io/favicon-32x32.png">

<!-- end custom head snippets -->
