---
layout: splash
permalink: /
hidden: true
date: 2021-06-12T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 255, 255, 0.5))
  overlay_image: /assets/images/portfolio-2-reverse.jpg
  actions:
    - label: "Go see Jay's Projects"
      url: "https://jinlee487.github.io/projects/"
    - label: "Go see Jay's Posts"
      url: "https://jinlee487.github.io/posts/"
    - label: "Go see Jay's Resume"
      url: "https://jinlee487.github.io/resume/"
excerpt: "Welcome to my Dev-Blog, where I showcase my projects and dev-journey"
intro: 
  - excerpt: '*Portfolio*'


feature_row:
  - image_path: assets/images/algorithm.png
    alt: "placeholder image 1"
    title: "Coding Test practice"
    url: "https://jinlee487.github.io/projects/algorithm/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    excerpt: "This is my record of all the algorithm problems I have solved so far."
  - image_path: /assets/images/youtube2mp3.PNG
    alt: "placeholder image 2"
    title: "youtube2mp3"
    excerpt: "This is a python application project I made to download youtube videos into mp4 and mp3 files."
    url: "https://jinlee487.github.io/projects/youtube2mp3/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/javascript.png
    alt: "placeholder image 3"
    title: "Vanilla JavaScript Projects"
    excerpt: "This is a collection of my vanilla JavaScript web applications"
    url: "https://jinlee487.github.io/projects/vanilla-javascript-project/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: assets/images/jay.png
    alt: "placeholder image 2"
    title: "About me"
    excerpt: 'My name is Jay. I am a Full Stack Software Engineer with hands-on experience in developing scalable websites and mobile applications using a wide range of front-end and backend skills. 
    I have a unique background of Bs in Economics from UW-Madison and having worked as a data Analyst. 
    I transitioned my career in 2020 by finishing a Java Web Development Boot Camp and working as a Full-Stack Developer for about 8 months. 
    I wanted to advance my software developer career farther so I decided to do a Master of Computer Science at Drexel University. Currently, I am in the middle of my Coop with Lula as a Full Stack developer. 
    I believe that it is never too late to find what I am passionate about. 
    As long as I give my **100%**, I will never have any regrets. I am a strong believer in long term goals. 
    Even if things might not work out as I planned, I know that it will add to my experience and I will always be a step closer to my goals. 
    Life is too short to half-ass'
    url: "https://jinlee487.github.io/announcement/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/computer.jpeg
    alt: "placeholder image 2"
    title: "Why did I choose to become a Developer"
    excerpt: 'I had trouble figuring out what I really wanted to do, until I took a Data Programming Python intro course in my senior year at UW-Madison. 
    I absolutely enjoyed the class. However, It was too late for me to change my major. 
    After graduation, thanks to Professor Tyler Harter, I was able to audit a Data Science python course for no credit after my work hours working as a staff accountant.
    Slowly but surely, my passion for programming grew bigger. What I like about programming is that it is like a puzzle waiting to be solved. 
    In highschool, I was in the chess varisity team and participated in non schoolastic chess tournaments. Programming is like reading the chess board for me. 
    It tweaks my interests more than anything else I ever studied back in school.'
    url: "https://jinlee487.github.io/announcement/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:

  - image_path: /assets/images/forwardhealthgroup_50.png
    alt: "placeholder image 1"
    title: "Data Analyst Intern"
    excerpt: "2019.05 ~ 2019.12. Created python and SQL scripts to analyze, extract and manage data."
  - image_path: /assets/images/gentlist-size.png
    alt: "placeholder image 2"
    title: "Full Stack Developer"
    excerpt: "2020.10 ~ 2021.05. Created a web-based Cad Program and CRM for client solution project based on JAVA and JavaScript. Created the Genltist shopping mall based on PHP."
    url: "https://www.gentlist.co.kr/"
    btn_label: "Check out Genlist Shopping mall"
    btn_class: "btn--primary"
  - image_path: /assets/images/Lula_Logo_Yellow_RGB.jpg
    alt: "placeholder image 2"
    title: "Full Stack Developer"
    excerpt: "2022.6 ~ present. Developing scalable web and mobile application that connects merchants to delivery partners"
    url: "https://www.luladelivery.com/about-us"
    btn_label: "Check out Lula"
    btn_class: "btn--primary"

feature_row5:
  - image_path: assets/images/madison_bus.jpg
    alt: "placeholder image 1"
    title: "Wisc-Bus"
    url: "https://jinlee487.github.io/projects/wisc-bus/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    excerpt: "This is my final project for CS638 DataScience in Madison course in UW Madison."
  - image_path: assets/images/librosa_logo_text.png
    alt: "placeholder image 1"
    title: "Pitch_shifter"
    url: "https://jinlee487.github.io/projects/pitch_shifter/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    excerpt: "This is a python application project I made to customize mp3/wav file cover tracks."
  - image_path: assets/images/1a8cc008-30d4-4d53-9909-a86b036d476d.png
    alt: "placeholder image 1"
    title: "Sorting-Visualizer"
    url: "https://github.com/jinlee487/sorting-visualizer-jayleecodes"
    btn_label: "Read More"
    btn_class: "btn--primary"
    excerpt: "React Native personal project demo"

feature_row6:
- image_path: "https://user-images.githubusercontent.com/46912607/162545138-9670f89d-b212-4e1f-a6b2-b0975c0cd395.png"
  alt: "placeholder image 1"
  title: "Gesture recognition"
  url: "https://github.com/jinlee487/virtual_reality_controller"
  btn_label: "Read More"
  btn_class: "btn--primary"
  excerpt: "This is my project the Philly CodeFest 2022 which won the DEI award"
- image_path: "https://user-images.githubusercontent.com/46912607/224555864-7081a24d-3b9e-4988-a32f-012bf222b8d1.png"
  alt: "placeholder image 1"
  title: "AR Troubleshooter"
  url: "https://github.com/jinlee487/PhillyCodeFest23"
  btn_label: "Read More"
  btn_class: "btn--primary"
  excerpt: "This is my project the Philly CodeFest 2023 which won the Applied AI award"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" %}

{% include feature_row %}

{% include feature_row id="feature_row5" %}

{% include feature_row id="feature_row6" %}





