---
layout: splash
permalink: /
hidden: true
date: 2021-06-12T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/portfolio-2-reverse.jpg
  actions:
    - label: "Go see Jay's Projects"
      url: "https://github.com/jinlee487"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Welcome to my Dev-Blog, where I showcase my projects and personal dev-journey"
intro: 
  - excerpt: '*Porfolio*'


feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: assets/images/jay.png
    alt: "placeholder image 2"
    title: "About me"
    excerpt: 'My name is Jay. I graduated UW-Madison with a BS in Economics, and only afterwards did I discover my passion for computer science. 
    After finishing a Java Web Development Boot Camp, I worked as a Full-Stack Developer for about 8 months. 
    However, I soon discovered my real passion lies in AI and Data Science. 
    I believe that it is never too late to find what I am passionate about. 
    As long as I give my **100%**, I will never have any regrets. I am a strong believer in long term goals. 
    Even if things might not work out as I planned, I know that it will add to my experience and I will always be a step closer to my goals. 
    Life is too short to half-ass'
    url: "https://jinlee487.github.io/announcement/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/computer.jpeg
    alt: "placeholder image 2"
    title: "Why did I choose to become a Developer"
    excerpt: 'I had trouble figuring out what I really wanted to do, until I took a Data Programming Python intro course in my senior year at UW-Madison. 
    I absolutely enjoyed the class. However, It was too late for me to change my major. 
    After graduation, thanks to Professor Tyler Harter, I was able to audit a Data Science python course for no credit after my work hours working as a staff accountant.
    Slowly but surely, my passion for programming grew bigger. The key part of programming I like is that it is like a puzzle waiting to be solved. 
    In highschool, I was in the chess varisity team and participated in non schoolastic chess tournaments. Programming is like reading the chess board for me. 
    It tweaks my interests more than anything else I ever studied back in school.'
    url: "https://jinlee487.github.io/announcement/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}

{% include feature_row %}




